@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here at Fake Target, we care about our customers. This is why we package every order with the FT Guarantee.</p>
